/*应用图标*/

.icon-app48-calendar {
    width: 48px;
    height: 48px;
    background:url(img/1x/icon-app48-calendar.png)!important;
}

.icon-app48-client {
    width: 48px;
    height: 48px;
    background:url(img/1x/icon-app48-client.png)!important;
}

.icon-app48-attendance {
    width: 48px;
    height: 48px;
    background:url(img/1x/icon-app48-attendance.png)!important;
}

.icon-app48-weibo {
    background:url(img/1x/icon-app48-weibo.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-igoal {
    background:url(img/1x/icon-app48-igoal.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-eg {
    background:url(img/1x/icon-app48-eg.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-mail {
    background:url(img/1x/icon-app48-mail.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-memo {
    background:url(img/1x/icon-app48-memo.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-disk {
    background:url(img/1x/icon-app48-disk.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-worklog {
    background:url(img/1x/icon-app48-worklog.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-plan {
    background:url(img/1x/icon-app48-plan.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-approve {
    background:url(img/1x/icon-app48-approve.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-task {
    background:url(img/1x/icon-app48-task.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-project {
    background:url(img/1x/icon-app48-project.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-know {
    background:url(img/1x/icon-app48-know.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-bbs {
    background:url(img/1x/icon-app48-bbs.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-address {
    background:url(img/1x/icon-app48-address.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-discuss {
    background:url(img/1x/icon-app48-discuss.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-attent {
    background:url(img/1x/icon-app48-attent.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-sysremd {
    background:url(img/1x/icon-app48-sysremd.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-groups {
    background:url(img/1x/icon-app48-groups.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-community {
    background:url(img/1x/icon-app48-community.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-relacomp {
    background:url(img/1x/icon-app48-relacomp.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-broadcast {
    background:url(img/1x/icon-app48-broadcast.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-communicate {
   background:url(img/1x/icon-app48-communicate.png)!important;
    width: 48px;
    height: 48px;
}

.icon-app48-sms {
    background:url(img/1x/icon-app48-sms.png)!important;
    width: 48px;
    height: 48px;
}


/*18像素*/

.icon-app18-calendar {
    background:url(img/1x/icon-app18-calendar.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-client {
    background:url(img/1x/icon-app18-client.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-attendance {
    background:url(img/1x/icon-app18-attendance.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-weibo {
    background:url(img/1x/icon-app18-weibo.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-igoal {
    background:url(img/1x/icon-app18-igoal.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-eg {
    background:url(img/1x/icon-app18-eg.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-mail {
    background:url(img/1x/icon-app18-mail.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-memo {
    background:url(img/1x/icon-app18-memo.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-disk {
    background:url(img/1x/icon-app18-disk.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-worklog {
    background:url(img/1x/icon-app18-worklog.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-plan {
    background:url(img/1x/icon-app18-plan.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-approve {
    background:url(img/1x/icon-app18-approve.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-task {
    background:url(img/1x/icon-app18-task.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-project {
    background:url(img/1x/icon-app18-project.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-know {
    background:url(img/1x/icon-app18-know.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-bbs {
    background:url(img/1x/icon-app18-bbs.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-address {
    background:url(img/1x/icon-app18-address.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-discuss {
    background:url(img/1x/icon-app18-discuss.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-attent {
    background:url(img/1x/icon-app18-attent.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-sysremd {
    background:url(img/1x/icon-app18-sysremd.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-groups {
    background:url(img/1x/icon-app18-groups.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-community {
    background:url(img/1x/icon-app18-community.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-relacomp {
    background:url(img/1x/icon-app18-relacomp.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-broadcast {
    background:url(img/1x/icon-app18-broadcast.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-communicate {
    background:url(img/1x/icon-app18-communicate.png)!important;
    width: 18px;
    height: 18px;
}

.icon-app18-sms {
    background:url(img/1x/icon-app18-sms.png)!important;
    width: 18px;
    height: 18px;
}


/*30像素*/

.icon-app30-calendar {
    background:url(img/1x/icon-app30-calendar.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-client {
    background:url(img/1x/icon-app30-client.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-attendance {
    background:url(img/1x/icon-app30-attendance.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-weibo {
    background:url(img/1x/icon-app30-weibo.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-igoal {
    background:url(img/1x/icon-app30-igoal.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-eg {
    background:url(img/1x/icon-app30-eg.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-mail {
    background:url(img/1x/icon-app30-mail.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-memo {
    background:url(img/1x/icon-app30-memo.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-disk {
    background:url(img/1x/icon-app30-disk.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-worklog {
    background:url(img/1x/icon-app30-worklog.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-plan {
    background:url(img/1x/icon-app30-plan.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-approve {
    background:url(img/1x/icon-app30-approve.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-task {
    background:url(img/1x/icon-app30-task.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-project {
    background:url(img/1x/icon-app30-project.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-know {
    background:url(img/1x/icon-app30-know.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-bbs {
    background:url(img/1x/icon-app30-bbs.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-address {
    background:url(img/1x/icon-app30-address.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-discuss {
    background:url(img/1x/icon-app30-discuss.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-attent {
    background:url(img/1x/icon-app30-attent.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-sysremd {
    background:url(img/1x/icon-app30-sysremd.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-groups {
    background:url(img/1x/icon-app30-groups.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-community {
    background:url(img/1x/icon-app30-community.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-relacomp {
    background:url(img/1x/icon-app30-relacomp.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-broadcast {
    background:url(img/1x/icon-app30-broadcast.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-communicate {
    background:url(img/1x/icon-app30-communicate.png)!important;
    width: 30px;
    height: 30px;
}

.icon-app30-sms {
    background:url(img/1x/icon-app30-sms.png)!important;
    width: 30px;
    height: 30px;
}
