/*箭头*/

.icon-arrow-left-disable {
    background:url("img/1x/icon-arrow-left-disable.png")!important;
    width: 6px;
    height: 10px;
}

.icon-arrow-left-hover {
    background:url("img/1x/icon-arrow-left-hover.png")!important;
    width: 6px;
    height: 10px;
}

.icon-arrow-left {
    background:url("img/1x/icon-arrow-left.png")!important;
    width: 6px;
    height: 10px;
}

.icon-arrow-right-disable {
    background:url("img/1x/icon-arrow-right-disable.png")!important;
    width: 6px;
    height: 10px;
}

.icon-arrow-right-hover {
    background:url("img/1x/icon-arrow-right-hover.png")!important;
    width: 6px;
    height: 10px;
}

.icon-arrow-right {
    background:url("img/1x/icon-arrow-right.png")!important;
    width: 6px;
    height: 10px;
}
