/*文件图标*/

.icon-file32-doc {
    background:url("img/1x/icon-file32-doc.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-txt {
    background:url("img/1x/icon-file32-txt.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-xls {
    background:url("img/1x/icon-file32-xls.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-pdf {
    background:url("img/1x/icon-file32-pdf.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-ppt {
    background:url("img/1x/icon-file32-ppt.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-music {
    background:url("img/1x/icon-file32-music.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-apk {
    background:url("img/1x/icon-file32-apk.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-zip {
    background:url("img/1x/icon-file32-zip.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-html {
    background:url("img/1x/icon-file32-html.png")!important;;
    width: 26px;
    height: 32px;
}

.icon-file32-java {
    background:url("img/1x/icon-file32-java.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-jpg {
    background:url("img/1x/icon-file32-jpg.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-video {
    background:url("img/1x/icon-file32-video.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-damage {
    background:url("img/1x/icon-file32-damage.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-unknown {
    background:url("img/1x/icon-file32-unknown.png")!important;
    width: 26px;
    height: 32px;
}

.icon-file32-folder {
    background:url("img/1x/icon-file32-folder.png")!important;
    width: 31px;
    height: 28px;
}

.icon-file32-cloud {
    background:url("img/1x/icon-file32-cloud.png")!important;
    width: 31px;
    height: 27px;
}

.icon-file32-rar {
    background:url("img/1x/icon-file32-rar.png")!important;
    width: 30px;
    height: 31px;
}
