.icon-checkbox {
    background: url("img/1x/icon-checkbox.png")!important;
    width:16px;
    height: 16px;
}
.icon-checkbox-checked {
    background: url("img/1x/icon-checkbox.png")!important;
    width:16px;
    height: 16px;
}
.icon-radio {
    background: url("img/1x/icon-radio.png")!important;
    width:15px;
    height:15px;
}
.icon-radio-checked {
    background: url("img/1x/icon-radio-checked.png")!important;
    width:15px;
    height:15px;
}