icon-modal-close {}


/*modal*/

.icon-modal-success-big {
    background: url("img/1x/icon-modal-success-big.png")!important;
    width: 64px;
    height: 64px;
}

.icon-modal-warn-red-big {
    background: url("img/1x/icon-modal-warn-red-big.png")!important;
    width: 64px;
    height: 64px;
}

.icon-modal-warn-blue-big {
    background: url("img/1x/icon-modal-warn-blue-big.png")!important;
    width: 64px;
    height: 64px;
}

.icon-modal-error-big {
    background: url("img/1x/icon-modal-error-big.png")!important;
    width: 64px;
    height: 64px;
}

.icon-modal-ask-big {
    background: url("img/1x/icon-modal-ask-big.png")!important;
    width: 64px;
    height: 64px;
}

.icon-modal-loading-big {}

//small
.icon-modal-success-small {
    background: url("img/1x/icon-modal-success-small.png")!important;
    width: 32px;
    height: 32px;
}

.icon-modal-warn-red-small {
    background: url("img/1x/icon-modal-warn-red-small.png")!important;
    width: 32px;
    height: 32px;
}

.icon-modal-warn-blue-small {
    background: url("img/1x/icon-modal-warn-blue-small.png")!important;
    width: 32px;
    height: 32px;
}

.icon-modal-error-small {
    background: url("img/1x/icon-modal-error-small.png")!important;
    width: 32px;
    height: 32px;
}

.icon-modal-ask-small {
    background: url("img/1x/icon-modal-ask-small.png")!important;
    width: 32px;
    height: 32px;
}

.icon-modal-loading-big {}
