.modal-wrap.popover.workbench-person-message-list{
    padding-bottom: 12px;
    .modal-body{
        width:380px;
        .message-list{
            margin-top:-4px;
            font-size:12px;
            .message-item{
                border-bottom:1px solid $commonBorderColor;
                margin-bottom: 12px;
                padding-bottom: 9px;
                .item-left{
                    width:30px;
                }
                .item-right{
                    margin-left:10px;
                    h4{
                        margin:0;
                        margin-top:-2px;
                    }
                    .summary{
                        color:#999999;
                        margin-top: 5px;
                    }
                }
            }
        }
        .scan-all{
            text-align: center;
            color:#616466;
            cursor: pointer;
        }
    }
}